body{
    margin: 10px;
}

#header{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 10px;
    align-items: center;

}

#event{
    display: flex;
    gap: 30px;
    padding: 0;
    color: goldenrod;
    
}

#kidscoding{
    padding: 0;
}

#body{
    display: flex;
    margin-top: 50px;
    align-items: center;
}

#levels{
    display: flex;
    justify-content: space-between;
}

#beginner{
    background-color: rgb(129, 198, 254);
    border: solid 1px   rgb(129, 198, 254);
    border-radius: 10px;
    width: 280px;
    height: 250px;
}

#Intermediate{
    background-color:  lightblue;
    border: solid 1px   lightblue;
    border-radius: 10px;
    width: 280px;
    height: 250px;
}

#Advanced{
    background-color: rgb(214, 212, 196);
    border: solid 1px rgb(214, 212, 196);
    border-radius: 10px;
    width: 280px;
    height: 250px;
   
}

ul{
    margin-right: 16px;
}

#curriculum{
    display: flex;
    margin: 10px;
    margin-top: 30px;
}

#reviews{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

#footer{
    margin-top: 40px;
    background-color:  rgb(190, 190, 190);
    text-align: center;
    padding: 20px;
    
    border-top-right-radius: 50px;
}